@define-color fg_color #f8f8f8;
@define-color accent_color #EB2F7D;
@define-color bg_color #252526;

.intro button {
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    background: @bg_color;
    font-size: 1.2em;
    box-shadow: none;
}

.intro button:active {
    background: @accent_color;
}

scrolledwindow {
    background: @bg_color;
}

.editor {
    font-family: "Lato", serif; 
    padding: 0.75rem;
    font-size: 1.5em;
    background: @bg_color;
    caret-color: @accent_color;
}

.editor text {
    background: @bg_color;
    color: @fg_color;
}

.editor text selection {
    background: @accent_color;
    color: @bg_color;
}