@define-color bg_color #f8f8f8;
@define-color accent_color #EB2F7D;
@define-color fg_color #252526;

.intro button {
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    background: @bg_color;
    font-size: 1.2em;
    box-shadow: none;
}

.intro button:active {
    background: @accent_color;
}

decoration {
    background: @bg_color;
}

scrolledwindow { background: @bg_color; }

.editor {
    font-family: "Lato", serif; 
    font-size: 1.25em;
    background: @bg_color;
    caret-color: @accent_color;
    -GtkWidget-cursor-aspect-ratio: 0.05;
    animation: blink 0.5s ease-in-out alternate infinite;
}

@keyframes blink {
    0% { caret-color: @accent_color; }
    100% { caret-color: rgba(0, 0, 0, 0); }
}

.editor text {
    background: @bg_color;
    color: @fg_color;
}

.editor text selection {
    background: @accent_color;
    color: @bg_color;
}
